<h1>All of our cocktails</h1>
<div class="container">
  <div class="row">
  
    <% @cocktails.each do |cocktail| %>
    <div class="col">
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
        <h1><%= link_to cocktail.name, cocktail %></h1>
        <div class="doses-info">
          <% cocktail.doses.each do |dose| %>
            <%= dose.description %> of <%= dose.ingredient.name %> 
            <% end  %>
        </div>
      
      </div>
    </div> 
    <% end %>
   
  </div>
</div>


